<div class="row justify-content-center margin-top20">
  <div class="col flex-center">
    <h3>Developer/Scrum Master distribution</h3>
  </div>
</div>
<div class="row justify-content-center margin-top20">
  <div class="col flex-center">
    <form #myForm="ngForm" novalidate>
      <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
                            [(ngModel)]="dateRange" (dateRangeChanged)="onDateRangeChanged($event)"
                            required></my-date-range-picker>
    </form>
  </div>
</div>
<div class="row justify-content-center margin-top20">
  <div class="col">
    <canvas mdbChart class="centered"
            [chartType]="chartsOptions.reportChartType"
            [datasets]="reportDatasets"
            [labels]="reportChartLabels"
            [options]="chartsOptions.reportOptions"
            [colors]="chartsOptions.reportColors"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  <div class="col">
    <canvas mdbChart class="centered"
            [chartType]="chartsOptions.distChartType"
            [data]="distDatasets"
            [labels]="chartsOptions.distChartLabels"
            [colors]="chartsOptions.distChartColors"
            [options]="chartsOptions.distOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>
