<div class="row justify-content-end">
  <div class="col-1">
    <button class="btn btn-danger waves-light" [routerLink]="['/login']">Logout</button>
  </div>
</div>

<div *ngIf="!active">
  <div class="row justify-content-center">
    <div class="col">
      <button class="btn activity-btn clickable" (click)="startActivity(Type.SM)">
        <img class="activity-img" src="assets/SM.png">
        {{types[Type.SM]}}
      </button>
    </div>
    <div class="col">
      <button class="btn activity-btn DEV clickable" (click)="startActivity(Type.DEV)">
        <img class="activity-img" src="assets/DEV.png">
        {{types[Type.DEV]}}
      </button>
    </div>
    <div class="col">
      <app-add-activity></app-add-activity>
    </div>
    <div class="col">
      <app-non-working></app-non-working>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
    </div>
  </div>
</div>
<div *ngIf="active">
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <p>Started {{active.time | date:'dd-MM-yyyy HH:mm'}}</p>
      <p class="minutes">{{active.minutes}} m</p>
      <img class="active" [src]="'assets/'+active.type+'.png'">
      <p><strong>{{types[active.type]}}</strong></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2">
      <button class="btn btn-success waves-light" (click)="stopActive()">Stop Activity</button>
    </div>
  </div>
</div>
<div>
  <app-chart></app-chart>
</div>
